body {
	background-color:#131313 !important;
}

header, footer {
	min-height: 7vh;
	width: 100vw;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	background-image: linear-gradient(rgb(39, 39, 39), rgb(24, 24, 24));
	box-shadow: 0 0 10px #ffffff32;
}

footer {
	height: 7vh;
	position:fixed;bottom:0;left:0;right:0;
	padding-left: 10px;
	background-image: linear-gradient(rgb(24, 24, 24), rgb(39, 39, 39));
}

h1, h2 {
	color:#c3c3c3;
  margin-left:auto;
  margin-right: auto;
	font-weight: 100 !important;
	text-shadow: 3px 3px 3px #000000;
}

h1 {
	padding: 10px;
	display: table-cell;
	margin: 0 !important;
}

p {
	color:#838383;
	font-weight: 100;
	display: table-cell;
	margin-bottom: 0 !important;
	margin-right: 10px;
}

h2 {
	border-bottom: 1px solid #ffffff7e;
	width: 100%;
	padding-bottom: 20px;
}

.container {
	height: 175px !important;
	width: 310px !important;
	border-radius: 10px;
	background-image: linear-gradient(rgb(24, 24, 24), rgb(47, 47, 47));
	margin-top: 100px;
	padding: 5px;
	/* box-shadow: 0 0 5px #ffffff49; */
}

.btn {
	background-image: linear-gradient(rgb(64, 99, 255), rgb(4, 62, 255));
	color: #ffffff !important;
	box-shadow: 1px 1px 3px #000000;
}

.btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn:hover {
	background-image: linear-gradient(rgb(4, 62, 255), rgb(64, 99, 255));
	box-shadow: 0 0 5px #ffffff7e !important;
	outline: none;
	transition: 0.5s !important;
}

#start {
	margin-top: 5px;
}

.modal-content {
	background-image: radial-gradient(rgb(39, 39, 39), rgb(12, 12, 12));
	color: #bbbbbb;
	text-shadow: 3px 3px 3px #000000;
	box-shadow: 0 0 10px #ffffff31;
}

.modal-header {
	border-bottom: 1px solid #464646 !important;
}

.close {
	color:#909090 !important;
}

.close:hover {
	color:rgb(255, 138, 138) !important;
	/* text-shadow: 0 0 5px rgba(255, 82, 82, 0.719) !important; */
}

label {
	margin-top: 8px;
}

input, select {
	background-color: #131313 !important;
	color:rgb(124, 124, 124) !important;
	border: 1px solid rgb(124, 124, 124) !important;
	box-shadow: 1px 1px 3px #000000;
}

.alert {
	height: 56px;
	background-color: #696969 !important;
	color: #ffffff !important;
	border: 1px solid #ffffffa4 !important;
	margin: 0 !important;
	text-shadow: 2px 2px 3px #000000 !important;
	font-size: 20px;
	font-weight: 300;
}

.modal-footer {
	border-top: 1px solid #464646 !important;
}

@media screen and (max-device-width: 800px) {
	h1 {
		font-size: 30px !important;
	}
}

@media screen and (max-device-width: 575px) {
	h1 {
		font-size: 25px !important;
	}
}

@media screen and (max-device-width: 520px) {
	h1 {
		font-size: 20px !important;
	}

	p {
		font-size: 15px;
	}
}

@media screen and (max-device-width: 475px) {
	h1 {
		font-size: 15px !important;
	}

	p {
		font-size: 12px;
	}
}

@media screen and (max-device-width: 475px) {
	p {
		font-size: 10px;
	}
}